.text-49,
.text-50,
.text-51,
.text-53,
.text-54,
.text-55,
.text-56,
.text-57,
.text-58 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}

.label-80,
.label-86,
.label-87,
.label-88,
.label-89,
.label-90,
.label-91,
.label-92,
.label-93 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

