.text-icon-89 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}

.label-182 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

