.table-51,
.cell-09-text-2,
.table-52,
.cell-09-text-3,
.table-53,
.cell-09-text-4,
.table-54,
.cell-09-text-5,
.table-55,
.cell-09-text-6,
.table-56,
.cell-09-text-7,
.table-57,
.cell-09-text-8,
.table-58,
.cell-09-text-9,
.table-59,
.cell-09-text-10,
.cell-09-text,
.cell-09-text-1,
.table-50,
.table-60,
.cell-09-text-11,
.table-61,
.cell-09-text-12,
.table-62,
.cell-09-text-13,
.table-63,
.cell-09-text-14,
.table-64,
.cell-09-text-15,
.table-65,
.cell-09-text-16,
.table-66,
.cell-09-text-17,
.table-67,
.cell-09-text-18,
.table-68,
.cell-09-text-19,
.table-69,
.cell-09-text-20,
.table-70,
.cell-09-text-21,
.table-71,
.cell-09-text-22 {
  align-items: center;
  display: flex;
  gap: 5px;
  position: relative;
  width: fit-content;
}

