.cell-02-text-13 {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 5px;
  padding: 0px 43px 0px 0px;
  position: relative;
}

.cell-02-text-13.cell-02-text-12 {
  padding: 0px 10px 0px 0px;
}

