.text-22,
.text-23,
.text-24,
.text-25,
.text-26,
.text-27,
.text-28,
.text-29,
.text-30 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}

.label-50,
.label-51,
.label-52,
.label-53,
.label-54,
.label-55,
.label-56,
.label-57,
.label-58 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

