.screen01 {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border: 1px none;
  display: flex;
  height: 799px;
  width: 1024px;
}

.overlap-group4 {
  height: 774px;
  position: relative;
  width: 1024px;
}

.dashview {
  align-items: center;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 0;
  padding: 0px 0px 20px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.tabs {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  padding: 10px 459px 10px 10px;
  position: relative;
  width: 1004px;
}

.tab {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.item-name {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cards {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 1004px;
}

.x-pending {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-haze);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 91px;
  padding: 10px;
  position: relative;
}

.label {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.label-1 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.8px;
  position: relative;
  white-space: nowrap;
}

.label-2 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.label-3 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.span0 {
  line-height: 22.8px;
}

.span1 {
  line-height: 14.5px;
}

.dashboard-table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1004px;
}

.action-bar {
  align-self: stretch;
  background-color: var(--white);
  height: 40px;
  min-width: 1004px;
  position: relative;
}

.overlap-group1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: -1px;
  min-height: 41px;
  position: relative;
  width: 1006px;
}

.setting {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 6px;
  position: relative;
  width: 984px;
}

.template {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.dropdown-input {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 30px;
  padding: 7px 0px 0px;
  position: relative;
  width: 154px;
}

.elements {
  align-self: stretch;
  background-color: var(--black);
  height: 1px;
  min-width: 154px;
  position: relative;
}

.click-container {
  height: 47px;
  left: 659px;
  position: absolute;
  top: 409px;
  width: 32px;
}

.click {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.click-1 {
  -webkit-text-stroke: 2px var(--white);
  left: 14px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  text-align: center;
  top: 36px;
  white-space: nowrap;
}

.overlap-group3 {
  align-items: flex-start;
  background-color: var(--terracotta);
  border-radius: 9px/9.29px;
  display: flex;
  height: 19px;
  left: 857px;
  min-width: 18px;
  padding: 2.1px 5px;
  position: absolute;
  top: 6px;
}

.number {
  letter-spacing: 0;
  line-height: normal;
  min-height: 13px;
  white-space: nowrap;
}

