.go-to,
.go-to-1,
.go-to-2,
.go-to-3,
.go-to-4,
.go-to-5,
.go-to-6,
.go-to-7,
.go-to-8,
.go-to-9 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.text-1-1,
.text-2-1,
.text-3-1,
.text-4-1,
.text-5-1,
.text-6-1,
.text-8-1,
.text-9-1,
.text-10-1,
.text-11-1 {
  letter-spacing: 0;
  line-height: 16.8px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

