.screen05 {
  align-items: flex-start;
  background-color: var(--white-lilac);
  border: 1px none;
  display: flex;
  height: 799px;
  width: 1024px;
}

.overlap-group4-1 {
  height: 774px;
  position: relative;
  width: 1024px;
}

.dashview-10 {
  align-items: center;
  background-color: var(--white-lilac);
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  left: 0;
  padding: 0px 0px 20px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.tabs-10 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  padding: 10px 459px 10px 10px;
  position: relative;
  width: 1004px;
}

.tab-21 {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.tab-items-20 {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.item-name-35 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cards-9 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 1004px;
}

.x-pending-6 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black-haze);
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  height: 91px;
  padding: 10px;
  position: relative;
}

.label-244 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.label-245 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 22.8px;
  position: relative;
  white-space: nowrap;
}

.label-246 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
}

.label-247 {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.span0-9 {
  line-height: 22.8px;
}

.span1-9 {
  line-height: 14.5px;
}

.dashboard-table-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
}

.table-94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1004px;
}

.action-bar-8 {
  align-self: stretch;
  background-color: var(--white);
  height: 40px;
  min-width: 1004px;
  position: relative;
}

.overlap-group1-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: -1px;
  min-height: 41px;
  position: relative;
  width: 1006px;
}

.setting-10 {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 6px;
  position: relative;
  width: 984px;
}

.template-10 {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
  width: fit-content;
}

.dropdown-input-9 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 30px;
  padding: 7px 0px 0px;
  position: relative;
  width: 154px;
}

.elements-43 {
  align-self: stretch;
  background-color: var(--black);
  height: 1px;
  min-width: 154px;
  position: relative;
}

.tooltip-2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 66px;
  left: 276px;
  min-width: 216px;
  position: absolute;
  top: 509px;
}

.overlap-group2-3 {
  height: 72px;
  margin-top: -6.0px;
  position: relative;
  width: 216px;
}

.arrow-13 {
  height: 8px;
  left: 84px;
  position: absolute;
  top: 0;
  width: 48px;
}

.stroke-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 6px;
  width: fit-content;
}

.override-this-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 196px;
}

