.atomsicon2019menu,
.atomsicon2019menu-1,
.atomsicon2019menu-2,
.atomsicon2019menu-3,
.atomsicon2019menu-4,
.atomsicon2019menu-5,
.atomsicon2019menu-6,
.atomsicon2019menu-7,
.atomsicon2019menu-8,
.atomsicon2019menu-9,
.atomsicon2019menu-10 {
  height: 24px;
  min-width: 24px;
  position: relative;
}

