.cell-03-text,
.cell-03-text-1,
.cell-03-text-2,
.cell-03-text-3,
.cell-03-text-4,
.cell-03-text-5 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 17px 0px 10px;
  position: relative;
  width: 109px;
}

