.column-header-9,
.column-header-9-1,
.column-header-9-2,
.column-header-9-3,
.column-header-9-4,
.column-header-9-5,
.column-header-9-6,
.column-header-9-7,
.column-header-9-8,
.column-header-9-9 {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 0px 10px;
  position: relative;
  width: fit-content;
}

