.text,
.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6,
.text-7,
.text-8,
.text-9,
.text-10 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: -1.00px;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}

.label-28,
.label-29,
.label-30,
.label-31,
.label-32,
.label-33,
.label-34,
.label-35,
.label-36,
.label-37,
.label-38 {
  letter-spacing: 0;
  line-height: 14.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

