.cell-05-text {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 32px 0px 10px;
  position: relative;
  width: 82px;
}

.cell-05-text.cell-05-text-6,
.cell-05-text.cell-05-text-7 {
  align-items: center;
  display: flex;
  gap: 5px;
  padding: 0px 32px 0px 10px;
  position: relative;
  width: fit-content;
}

