.status-indicator-11-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.rectangle-5-23 {
  background-color: var(--clementine);
  height: 16px;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  min-width: 8px;
  position: relative;
}

.status-indicator-11-1.status-indicator-11 .rectangle-5-23 {
  background-color: var(--yellow-orange);
}

